:root{
    --color-gray: #818181;
    --color-blue-light: #56adff;
    --color-blue-dark: #098ac5;
    --color-whithe: #ffffff;
}

main{
    display: flex;
    padding: 50px 0;
    justify-content: center;
    border: solid 2px white;
    box-sizing: border-box;
    width: 550px;
    height: 280px;
    margin-bottom: 5px  ;
}

/* - - - - MARCADOR - - - - */


.scoreboard{
    display: grid;
    width: 300px;
    grid-template: 24px 23px 3fr / repeat(6,1fr);
    transition-duration: 500ms;
}


/* TIEMPO */


.scoreboard-time{
    position: relative;
    grid-row: 1/2;
    grid-column: 3/5;
}

.scoreboard-time-counter,.scoreboard-time-extra{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    transition-duration: 500ms;
}

.scoreboard-time-counter > p,.scoreboard-time-extra > p{
    margin: 0;
}

.scoreboard-time-counter{
    z-index: 5;
}

.scoreboard-time-counter-displace{
    transform: translateX(-30px);
}

.scoreboard-time-extra{
    z-index: 4;
}

.scoreboard-time-extra-displace{
    transform: translateX(30px);
}

.scoreboard-time-counter > p,.scoreboard-time-extra > p{
    display: inline-block;
    padding: 3px 20px 0;
    border-radius: 20px 20px 0 0;
}

.scoreboard-time-counter > p {
    background-color: var(--color-whithe);
}

.scoreboard-time-extra > p {
    background-color: var(--color-blue-dark);
    color: var(--color-whithe);
}


/* NOMBRES EQUIPOS*/


.scoreboard-team-local, .scoreboard-team-visit {
    background-color: var(--color-blue-light);
}

.scoreboard-team-local > p, .scoreboard-team-visit > p {
    display: inline-block;
    margin: 0;
}

.scoreboard-team-local{
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: right;
    border-radius: 0 0 0 20px;
}

.scoreboard-team-local > p:first-child, .scoreboard-team-visit > p:last-child {
    font-weight: bold;
    margin: 0 10px; 
}

.scoreboard-team-visit{
    grid-row: 2/3;
    grid-column: 4/7;
    text-align: left;
    border-radius: 0 0 20px 0;
}

/* GOLES */


.scoreboard-team-local > p:last-child, .scoreboard-team-visit > p:first-child {
    width: 20px;
    text-align: center;
    background-color: var(--color-gray);
    color: var(--color-whithe);
}

#score-Local-num {
    padding: 0 5px 0 20px;
    border-radius: 0 0 0 20px;
}

#score-Visit-num {
    padding: 0 20px 0 5px;
    border-radius: 0 0 20px 0;
}


/* CAMBIO DE JUGADOR */

.scoreboard-chPlayer{
    position: relative;
    grid-row: 3/4;
    grid-column: 2/6;
}

.scoreboard-chPlayer > p {
    position: absolute;
    display: inline-block;
    margin: 5px;
    padding: 3px 0 3px 15px;
    border-radius: 0 20px 0 20px;
    transition-duration: 500ms;
}

.scoreboard-chPlayer > p:first-child{
    width: 100px;
    font-weight: bold;
    color: var(--color-whithe);
    background-color: var(--color-blue-dark);
}

.scoreboard-chPlayer > p:nth-child(2), .scoreboard-chPlayer > p:nth-child(3){
    width: 200px;
    background-color: var(--color-whithe);
}

.scoreboard-chPlayer > p:nth-child(2)::after{
    content: '  ⬇️';
    filter: hue-rotate(160deg);
}

.scoreboard-chPlayer > p:nth-child(3)::after{
    content: '  ⬆️';
}


/* FX */


.fx-barrido-h-full{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.fx-barrido-h-empty{
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.chPlayer-in{
    transform: translateX(10px) translateY(35px);
}

.chPlayer-out{
    transform: translateX(20px) translateY(70px);
}



/* ANIMACIONES */
.key-shine{
    animation-name: shine;
    animation-duration: 500ms;
}

.key-dark{
    animation-name: dark;
    animation-duration: 500ms;
}

@keyframes shine {
    0%{
        filter: blur(0px) brightness(100%) saturate(50%) contrast(100%);
    }
    50%{
        filter: blur(3px) brightness(156%) saturate(0%) contrast(201%);
    }
    100%{
        filter: blur(0px) brightness(100%) saturate(50%) contrast(100%);
    }
}

@keyframes dark {
    0%{
        filter: blur(0px) brightness(100%) saturate(50%) contrast(100%);
    }
    50%{
        filter: blur(3px) brightness(56%) saturate(0%) contrast(201%);
    }
    100%{
        filter: blur(0px) brightness(100%) saturate(50%) contrast(100%);
    }
}